{% extends "base.html" %}

{% block main %}
    <h3>DomStratStats</h3>
    <p class="lead">Domain Stratified Statistics</p>

    <div class="container-fluid">
        <div class="row">
            <p>
                The goal of <a href="https://github.com/alexviiia/DomStratStats" target="_blank">DomStratStats</a> is to
                bring better statistics to protein sequence analysis. The
                standard approaches are based on p-values and E-values, but here we introduce q-values and lFDRs
                (local False Discovery Rates) for protein domains. They key to make q-values and lFDRs work better is by
                stratifying, in this case analyzing each domain family separately, which best balances noise across
                domain families.
            </p>
            <p>
                ProtDomain allows you to use DomStratStats as a Domain Finder for your sequences.
                DomStratStats is developed and maintained as a Perl application by
                <a href="https://ochoalab.github.io/" target="_blank">Alejandro Ochoa García</a>,
                an Assistant Professor at Duke University, and a former student at <a
                    href="http://compbio.cs.princeton.edu/" target="_blank">SinghLab</a>.
                To directly install and use DomStratStats, please refer to the <a
                    href="https://github.com/alexviiia/DomStratStats" target="_blank">GitHub repository</a>
                for DomStratStats which also serves as the software's manual.
            </p>
        </div>

        <div class="row">
            <div class="col-12">
            <hr/>
            <p>2015-11-17.
                Alejandro Ochoa, John D Storey, Manuel Llinás, and Mona Singh.
                Beyond the E-value: stratified statistics for protein domain prediction.
                PLoS Comput Biol. 11 e1004509.
                <a href="http://dx.doi.org/10.1371/journal.pcbi.1004509" rel="nofollow">Article</a>,
                <a href="http://arxiv.org/abs/1409.6384" rel="nofollow">arXiv</a> 2014-09-23.</p>
            </div>
        </div>

    </div>
{% endblock %}