{% extends "base.html" %}

{% block main %}
<h1>dSPRINT</h1>
<p>dSPRINT is a machine learning framework for protein <b>d</b>omain <b>S</b>equence-based <b>PR</b>ediction of <b>INT</b>eraction-sites.</p>

<div class="container-fluid">
    <div class="row">
        <div class="col">

                <img src="{{ url_for('static', filename='img/dsprint.png') }}" width="100%"/>
                <p style="margin-top:1em; font-size:1.15em;">
                    Details coming <b>soon</b>.
                </p>

        </div>
    </div>

</div>
{% endblock %}