{% extends "base.html" %}

{% block css %}
<link href="{{ url_for('static', filename='vendor/fontawesome/css/all.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#aSample').click(function() {
            $('#seqTextArea').text(">seq0\n{{ sample_seq }}");
        });

        var data = {{ data | safe }};
        $.each(data , function(index, bars_data) {
          var div_id = "bargraph" + index;
          $('#bargraphs').append("<div class='chart' id='"+div_id+"'></div>");
            var layout = {
              title: {
                text:bars_data.seq_id + ' - Domain inferred binding frequencies (' + '{{ algorithm }}' + ')'
              },
              xaxis: {
                title: {
                  text: 'Sequence Position'
                }
              },
              yaxis: {
                title: {
                  text: 'Binding Frequency'
                }
              }
            };
          Plotly.plot(div_id, bars_data.bars, layout);
        });


    });
</script>
{% endblock %}

{% block main %}

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="card">
              <h5 class="card-header">Search Protein Sequence for Domains</h5>
              <div class="card-body">
                <p class="card-text">Paste your amino acid protein sequence(s) into the box below to search for instances of interaction domains and view corresponding per-position ligand-binding frequencies.</p>

                  <form class="form" action="" method="post">
                      <div class="form-group">
                          <label for="seqTextArea">Sequence</label>
                          <textarea class="form-control" id="seqTextArea" name="seqTextArea" rows="6">{{ seq }}</textarea>
                      </div>
                      <div class="form-group">
                          <label for="aSample">Sample Input:</label>
                          <a href="#" id="aSample">CTCF</a>
                      </div>
                      <div class="form-group">
                          <label for="algorithmSelect">Algorithm</label>
                          <select id="algorithmSelect" name="algorithmSelect">
                              <option selected="selected">dSPRINT</option>
                              <option >InteracDome</option>
                          </select>
                      </div>

                      <button type="submit" class="btn btn-primary">Go</button>
                  </form>
              </div>
            </div>
        </div>
    </div>

    {% if data != '[]' %}
    <div class="row my-4">
        <div class="col">
            <div class="card">
              <h5 class="card-header">Domain-inferred binding frequencies across sequence positions</h5>
              <div class="card-body">
                  <p class="card-text">Only binding frequencies from domain-ligand interactions that are <strong>confident</strong> (i.e., achieved a cross-validated precision of at least 0.5) are annotated to your sequence.</p>
                  <div id="bargraphs"></div>
              </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}